<a href="https://colab.research.google.com/github/giugnom3/Algorithms/blob/main/W1HW_GiugnoMaria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **W1HW - Maria Giugno**

In [29]:
# Basic arithmetic operations

a = 10
b =5

sum = a+b
difference = a-b
product = a
quotient = a/b
remainder = a%b
power = a**b

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)
print("Remainder:", remainder)

print(f"The sum of the two numbers {a}, {b} is {sum}.")

Sum: 15
Difference: 5
Product: 10
Quotient: 2.0
Remainder: 0
The sum of the two numbers 10, 5 is 15.

In [30]:
x = 13//2
print(x)
y = 13%2
print(y)

6
1

In [31]:
# Boolean variables and comparisons

x =10
y = 5

is_greater = x>y
is_equal = x==y
is_not_equal = x!=y

print("is x greater than y?", is_greater)
print("is x equal to y?", is_equal)
print("is x not equal to y?", is_not_equal)

is x greater than y? True
is x equal to y? False
is x not equal to y? True

In [32]:
# Variable assignment

name = "Maria"
age = 31
is_student = True

print("Name:", name)
print("Age:", age)
print("Is a student:", is_student)

print(f"{name}'s age is {age} and she is a student: {is_student}")

Name: Maria
Age: 31
Is a student: True
Maria's age is 31 and she is a student: True

In [33]:
# Defining and using a function with user input

def greet(name):
  return f"Hello, {name}!"

my_name = input("What is your name? ")
print(greet(my_name))

What is your name? Maria
Hello, Maria!

In [34]:
def add_numbers(a,b):
  return a+b

a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

value = add_numbers(a,b)
print(f"The result of addition for {a}, {b} is {value}")

Enter the first number: 5
Enter the second number: 10
The result of addition for 5, 10 is 15

In [35]:
def add_numbers(a,b):
  return a+b

a = eval(input("Enter the first number: "))
b = eval(input("Enter the second number: "))

value = add_numbers(a,b)
print(f"The result of addition for {a}, {b} is {value}")

Enter the first number: 12
Enter the second number: 14
The result of addition for 12, 14 is 26

In [36]:
# Working with strings

message = "Hello, World"
length = len(message)
uppercase = message.upper()
lowercase = message.lower()
substrings = message[7:12]

print("Original Message:", message)
print("Length:", length)
print("Uppercase:", uppercase)
print("Lowercase:", lowercase)
print("Substrings:", substrings)

Original Message: Hello, World
Length: 12
Uppercase: HELLO, WORLD
Lowercase: hello, world
Substrings: World

In [42]:
# Basic input example

Last = input("Enter Last name: ")
First = input("Enter First name:")
print(f"{Last}, {First}")

Enter Last name: Giugno
Enter First name:Maria
Giugno, Maria

In [38]:
# Numeric input example

age = int(input("Enter your age: "))
print("You will be", age + 1, "years old next year.")

Enter your age: 31
You will be 32 years old next year.

In [39]:
# Calculations with input

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

sum_result = num1 + num2
print("Sum:", sum_result)

Enter the first number: 2.7
Enter the second number: 3.3
Sum: 6.0

In [40]:
# String concatenation with input

city = input("Enter the name of a city: ")
state = input("Enter the name of a state: ")
country = input("Enter the name of a country: ")
location = city + ", " + state + ", " +country
print("You are in", location)

Enter the name of a city: Seymour
Enter the name of a state: CT
Enter the name of a country: US
You are in Seymour, CT, US

In [41]:
# Multiple inputs

name, age = input("Enter your name and age separated by a space: ").split()
print(f"My name is {name} and my age is {age}")

Enter your name and age separated by a space: Maria 31
My name is Maria and my age is 31